## For track information

In [1]:
import pandas as pd

df = pd.read_csv("../data/tmp/seeds.csv")

In [2]:
# place SQL results in a DataFrame - method 2: pandas read_sql_query()
import sqlite3 as sql
import pandas as pd
connection = sql.Connection("../data/input/track_metadata.db")
query = 'SELECT * FROM songs'
meta = pd.read_sql_query(query, con=connection)

In [3]:
meta = meta[meta.track_id.isin(df.track_id)].reset_index(drop=True)

# drop last three columns
meta = meta.iloc[:, :-3]

meta.head()

,track_id,title,song_id,release,artist_id,artist_mbid,artist_name,duration,artist_familiarity,artist_hotttnesss,year
0,TRMMMCH128F425532C,Si Vos Querés,SOBNYVR12A8C13558C,De Culo,ARNWYLR1187B9B2F9C,12be7648-7094-495f-90e6-df4189d68615,Yerba Brava,145.05751,0.448501,0.372349,2003
1,TRMMMNS128F93548E1,L'antarctique,SOYGNWH12AB018191E,Des cobras des tarentules,AR59BSJ1187FB4474F,891fccfc-24c1-4bfd-bf49-c736e59e443f,3 Gars Su'l Sofa,68.96281,0.555014,0.352949,2007
2,TRMMMXI128F4285A3F,N Gana,SOGPCJI12A8C13CCA0,Afropea 3 - Telling Stories To The Sea,ARBAMQB1187FB3C650,0bb5e108-b41d-46cd-969e-69d34d1acdfe,Waldemar Bastos,273.18812,0.543690,0.373679,0
3,TRMMMKI128F931D80D,006,SOSDCFG12AB0184647,Lena 20 År,ARSB5591187B99A848,fba3e876-68f1-4a1f-99d9-c604480202ba,Lena Philipsson,262.26893,0.529819,0.410229,1998
4,TRMMMQY128F92F0EA3,Ethos of Coercion,SOKOVRQ12A8C142811,Descend Into Depravity,ARGWPP11187B9AEF43,f76167bb-c117-4022-8b6b-54c796edf5c9,Dying Fetus,196.02240,0.734471,0.511976,2009

In [4]:
# save metadata
meta.to_csv("cleaned_data/tmp/tracks_metadata.csv", index=False)